{% include 'bookrraven/header_logged_in.html'  %}
{% load staticfiles %}
<div class="container">
	<div id="wrapper" >
		<div class="band-info">
		<h2 class="white-text">{{artistInfo.artist_name}}</h2>
		<img src="{{artistInfo.artist_photo.url}}" alt="{{artistInfo.artist_name}}" width="30%">
		<p class="white-text">{{artistInfo.site}}</p>
		<p class="white-text">{{artistInfo.sound}}</p>
	</div>
	<button class="btn waves-effect waves-light orange darken-3 modal-trigger" data-target="modal_book_artist">Book Artist</button>
	<div id=modal_book_artist class="modal">
		<div class="modal-content">
			<form enctype="multipart/form-data" action="{% url 'brr-addevent' %}" method="post">
					{% csrf_token %}
				<input type="hidden" name="artist_id" value="{{artistInfo.id}}">
				<input type="hidden" name="status" value="Pending Event">
				<label for="venue_id">Venue</label>
				<select name="venue_id">
					{% for venue in venueInfo %}
					{% if venue.booker_id == request.session.logged_user.id %}
					<option value="{{venue.id}}" >{{venue.name}}</option>
					{% endif %}
					{% endfor %}
				</select>
				<label for="datepicker">Date:</label>
				<input type="text" id="datepicker" name="event_date">
				<button class="btn waves-effect waves-light orange darken-4" type="submit" name="action">BOOK</button>
			</form>
		</div>
	</div>
</div>
{% include 'bookrraven/footer_in.html'  %}
