{% load staticfiles %}

<!-- Begin Scripts -->
	<script src="{% static 'bookr/js/jquery-2.2.3.js' %}"></script>
	<script src="{% static 'bookr/js/jquery-ui.js' %}"></script>
	<script src="{% static 'bookr/js/materialize.js' %}"></script>
	<script type="text/javascript" src=""></script>
	<script>
	$(document).ready(function(){
		$(function() {
			$( "#datepicker" ).datepicker({
				changeMonth: true,
				changeYear: true
			});
		});

		var vid = document.getElementById("bgvid");
		
		function vidFade() {
		  vid.classList.add("stopfade");
		}

		vid.addEventListener('ended', function()
		{
		// only functional if "loop" is removed 
		vid.pause();
		// to capture IE10
		vidFade();
		}); 


	})
	  </script>
	  <script>
	  $(function() {
	    $( "#datepicker" ).datepicker({
	      changeMonth: true,
	      changeYear: true
	    });
	  });
	  </script>
	  <script>
	  	$('.modal-trigger').leanModal();
	  </script>
<!-- End Scripts -->
</body>
</html>
