<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<meta name="author" content="Jonathan Ben-Ammi">
	<title>BookRRaven</title>
	<meta name="description" content="Where venues find tallent">
	<link rel="stylesheet" type="text/css" href="{% static 'bookr/css/materialize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookr/css/materialize_icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookr/css/style.css' %}">
</head>
<body>
	<nav class="orange darken-3">
		<div class="nav-Wrapper">
			<div class="container">
				<div id="logo-container" class="brand-logo logo left"><a href="/"> </a></div>
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
	</nav>