<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<meta name="author" content="Jonathan Ben-Ammi">
	<title>BookRRaven</title>
	<meta name="description" content="Where venues find tallent">
	<link rel="stylesheet" type="text/css" href="{% static 'bookr/css/materialize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookr/css/materialize_icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookr/css/style.css' %}">
</head>
<body>
<video autoplay  poster="{% static 'bookr/img/Band.jpg' %}" id="bgvid">
<source src="{% static 'bookr/img/Band.mp4' %}" type="video/mp4">
</video>
	<nav class="orange darken-3">
		<div class="nav-Wrapper">
				<div id="logo-container" class="brand-logo logo left"><a href="/"> </a></div>
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
		</div>
	</nav>
	<div class="container section">
		<div id="landing_menu" class="row">
			<div class="landing_menu_option col s12 m6" id="login">
				<form action="{% url 'brr-login' %}" method="post">
					{% csrf_token %}
					{{ logform.as_p }}
					<button class="btn waves-effect waves-light orange darken-4" type="submit" name="action">Login</button>
				</form>
			</div>

			<div class="landing_menu_option col s12 m6" id="register">
				<form action="{% url 'brr-register' %}" method="post">
					{% csrf_token %}
					{{ regform.as_p }}
					<button class="btn waves-effect waves-light orange darken-4" type="submit" name="action">Register</button>
				</form>
			</div>
		</div>
	</div>
<!-- Begin Scripts -->
	<script src="{% static 'bookr/js/jquery-2.2.3.js' %}"></script>
	<script src="{% static 'bookr/js/jquery-ui.js' %}"></script>
	<script src="{% static 'bookr/js/materialize.js' %}"></script>
	<script type="text/javascript" src="">
		$(document).ready(function(){ 
			var vid = document.getElementById("bgvid");
			var pauseButton = document.querySelector("#polina button");

			function vidFade() {
			  vid.classList.add("stopfade");
			}

			vid.addEventListener('ended', function()
			{
			// only functional if "loop" is removed 
			vid.pause();
			// to capture IE10
			vidFade();
			}); 


			pauseButton.addEventListener("click", function() {
			  vid.classList.toggle("stopfade");
			  if (vid.paused) {
			    vid.play();
			    pauseButton.innerHTML = "Pause";
			  } else {
			    vid.pause();
			    pauseButton.innerHTML = "Paused";
			  }
			})

			})


	</script>
<!-- End Scripts -->
</body>
</html>
