{% include 'bookrraven/header_logged_out.html'  %}
	<div id="wrapper">
		<div id="venue_content">
			<!-- stuff about the venue -->
			<img src="" alt="we tried....">
			<p>Stuff about the venue !</p>
		</div>
		<div id="brr-content">
			<!-- upcoming event_list -->
			<ul>
				<li><a href="">Look, an Event!</a></li>
				<li><a href="">Look, an Event!</a></li>
				<li><a href="">Look, an Event!</a></li>
			</ul>
			<a href=""><button>PLAY HERE!</button></a>
		</div>
		

	</div>
{% include 'bookrraven/footer.html'  %}
